name: Test

on:
  push:
    branches: '*'

jobs:
  vendor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.18.x
      - name: get dependencies
        run: go get -v -t -d ./...
      - name: vendoring
        run: go mod vendor

      - uses: actions/upload-artifact@v6
        with:
          name: repository
          path: .

  lint:
    runs-on: ubuntu-latest
    needs: vendor
    steps:
      - uses: actions/checkout@v6
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9

  test:
    runs-on: ubuntu-latest
    needs: vendor
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.18.x
      - uses: actions/download-artifact@v7
        with:
          name: repository
          path: .
      - name: test race
        run: go test -v -race ./...
